{% extends 'base.html.twig' %}

{% block title %}Edit VAT{% endblock %}

{% block body %}
    <h1>Edit VAT</h1>

    {{ include('vat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vat_index') }}">back to list</a>

    {{ include('vat/_delete_form.html.twig') }}
{% endblock %}
