{% extends 'base.html.twig' %}

{% block title %}New VAT{% endblock %}

{% block body %}
    <h1>Create new VAT</h1>

    {{ include('vat/_form.html.twig') }}

    <a href="{{ path('vat_index') }}">back to list</a>
{% endblock %}
